@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --primary-color: #285a84;
    --secondary-color: #74B513;
    --white-color: #ffffff;
}

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.primary-color {
    color: var(--primary-color) !important;
}

.secondary-color {
    color: var(--secondary-color) !important;
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

.btn1 {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1.25rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    position: relative;
    font-size: 0.875rem;
    transition: all 0.3s ease;
}

.btn1:hover {
    background-color: rgb(6, 155, 6);
    color: var(--white-color);
}

.btn1:hover::before {
    animation: shine 1.5s ease-out infinite;
}

.btn1::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(120deg,
            rgba(255, 255, 255, 0) 30%,
            rgba(255, 255, 255, 0.8),
            rgba(255, 255, 255, 0) 70%);
    top: 0;
    left: -100px;
    opacity: 0.6;
}

@keyframes shine {
    0% {
        left: -100px;
    }

    60% {
        left: 100%;
    }

    to {
        left: 100%;
    }
}

.banner .slick-prev:before,
.banner .slick-next:before {
    font-size: 24px;

}

.banner .slick-prev {
    left: 0;
    border-radius: 0;
    top: calc(100% - 32px);
    transform: translateY(0);
    background-color: rgb(6, 155, 6);
}

.banner .slick-next {
    right: 0;
    border-radius: 0;
    top: calc(100% - 32px);
    transform: translateY(0);
    background-color: rgb(6, 155, 6);
}

.banner {
    height: calc(100vh - 86px);
}

.hero-img {
    height: calc(100vh - 86px);
}



header.scroll-on {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 49;
    transition: all ease-in-out 0.5s;
    box-shadow: 0 -2px 20px 5px #3d3d3d21;
    animation: fadeInDown 0.45s ease-in-out;
}

@keyframes fadeInDown {
    0% {
        top: -30%;
    }

    50% {
        top: -15%;
    }

    100% {
        top: 0;
    }
}

@keyframes fadeInScale {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.animate-fadeInScale {
    animation: fadeInScale 0.3s ease-out forwards;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.animate-scroll {
    display: flex;
    animation: scroll 25s linear infinite;
    width: calc(200%);
}

@media (min-width: 1024px) and (max-width: 1500px) {
    .banner {
        height: auto;
    }

    .hero-img {
        height: 100vh;
    }
}

@media (max-width: 1280px) {
    .container {
        max-width: 1140px;
    }
}

@media (max-width: 992px) {
    .banner {
        height: auto;
    }
}

@media (max-width: 480px) {
    .animate-scroll {
        animation: scroll 20s linear infinite;
    }
}